h1{
    color: red;
    background-color: aqua;
    
}
span{
    color: red;
    background-color: brown;
}
.i{
    color: orange;
    background-color:red;

}
.k{
    color:yellow;
    background-color: orangered;

}
.r{
    color: green;
    background-color:bisque;

}
.a{
    color: blue;
    background-color:purple;

}
.m{
    color: indigo;
    background-color: whitesmoke;
}